.container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.switchThemeButton {
  border-radius: 40px;

  width: 292px;
  height: 62px;
}
.form {
  position: relative;
}
.input {
  flex-grow: 1;
  border-radius: 40px;
  border: 3px solid #9198e5;
  background-color: lavender;
  padding: 15px 15px 15px 90px;
  font-size: 20px;
  color: #3e4597;

  &::placeholder {
    color: gray;
  }
}
.searchButton {
  max-width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.currentLocationButton {
  max-width: 292px;
  height: 62px;
}
